@import "../../styles/scss/variables";

// Body Styles
body {
  background-color: #f8f9fa;
}

// Header Styles
.header {
  background-color: $primary;
  color: #fff;
  padding: 10px;

  h1 {
    font-size: 36px;
    margin-bottom: 0;
  }

  // Media Query for Header
  @media (max-width: 576px) {
    h1 {
      font-size: 24px;
    }
  }
}

// Main Styles
.main {
  margin-top: 50px;

  // Media Query for Main
  @media (max-width: 576px) {
    margin-top: 20px;
  }
}

// Search Form Styles
.search-form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;

  h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  // Media Query for Search Form
  @media (max-width: 576px) {
    padding: 20px;

    h2 {
      font-size: 24px;
    }
  }

  // Input Styles
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
}

// Button Styles
.btn-primary {
  background-color: $primary;
  border: none;

  &:hover {
    background-color: #0d47a1;
  }
}
